node_modules/
dist/
dist-ssr/
dev-dist/
*.local
.env
.env.*
android/.gradle/
android/build/
android/app/build/
android/app/src/main/assets/public/
android/.idea/
android/local.properties
*.apk
*.aab
.DS_Store
.vscode/
.idea/
